<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }} — {{ shop.name }}</title>
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Jost:wght@300;400;500;600&display=swap" rel="stylesheet">
  {{ content_for_header }}
  {{ 'paneo.css' | asset_url | stylesheet_tag }}
</head>
<body>
  <div id="paneo-app">
    {{ content_for_layout }}
  </div>
  {{ 'paneo.js' | asset_url | script_tag }}
    <!-- Não remova. Checkout Yever. -->
    {% capture yever-snippet %}{% render "yever-checkout" %}{% endcapture %}{% unless yever-snippet contains "Liquid error" %}{% render "yever-checkout" %}{% endunless %}
    <!-- Não remova. Checkout Yever. -->
</body>
</html>
